[submodule "flashrom"]
	path = tools/flashrom
	url = https://github.com/flashrom/flashrom.git
	branch = staging
[submodule "uefitool"]
	path = tools/uefitool
	url = https://github.com/LongSoft/UEFITool.git
	branch = new_engine
[submodule "me-cleaner"]
	path = tools/me-cleaner
	url = https://github.com/corna/me_cleaner.git
	branch = master
[submodule "fcode-utils"]
	path = tools/fcode-utils
	url = https://github.com/openbios/fcode-utils.git
	branch = master
[submodule "bios_extract"]
	path = tools/bios_extract
	url = https://review.coreboot.org/bios_extract.git
	branch = master
